.header {
  display: flex;
  margin-bottom: 20px;

  &:after {
    content: "";
    background: repeating-linear-gradient(
      90deg,
      $accent,
      $accent 2px,
      transparent 0,
      transparent 10px
    );
    width: 100%;
  }

  a {
    text-decoration: none;
  }
}
